root = true

[*]
end_of_line = crlf
indent_style = space
insert_final_newline = false
dotnet_style_operator_placement_when_wrapping = beginning_of_line
tab_width = 4
indent_size = 4
dotnet_style_coalesce_expression = true:error
dotnet_style_null_propagation = true:error
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:error
dotnet_style_prefer_auto_properties = true:error
dotnet_style_object_initializer = true:error
dotnet_style_collection_initializer = true:error
dotnet_style_prefer_simplified_boolean_expressions = true:error
dotnet_style_prefer_conditional_expression_over_assignment = true:error
dotnet_style_prefer_conditional_expression_over_return = true:error
dotnet_style_explicit_tuple_names = true:error
dotnet_style_prefer_inferred_tuple_names = true:error
dotnet_style_prefer_inferred_anonymous_type_member_names = true:error
dotnet_style_prefer_compound_assignment = true:error
dotnet_style_prefer_simplified_interpolation = true:suggestion

[*.md]
insert_final_newline = true
trim_trailing_whitespace = false

[{*.yaml,*.yml}]
indent_size = 2

[{*.cs,*.csx,*.json}]
tab_width = 4
indent_size = 4

[*.cs]

# File Header
file_header_template = unset
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
csharp_using_directive_placement = outside_namespace:error
dotnet_style_namespace_match_folder = true
csharp_style_namespace_declarations = file_scoped:error

# Var Everywhere
csharp_style_var_elsewhere = true:error
csharp_style_var_for_built_in_types = true:error
csharp_style_var_when_type_is_apparent = true:error

# Member Qualification
dotnet_style_qualification_for_event = false:error
dotnet_style_qualification_for_field = false:error
dotnet_style_qualification_for_method = false:error
dotnet_style_qualification_for_property = false:error

# Language Keywords vs BCL Types
dotnet_style_predefined_type_for_member_access = true:error
dotnet_style_predefined_type_for_locals_parameters_members = true:error

# Parentheses
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:error
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary:error
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:error
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:error

# Modifiers
dotnet_style_require_accessibility_modifiers = for_non_interface_members

# Expressions
dotnet_style_prefer_simplified_interpolation = true
dotnet_style_operator_placement_when_wrapping = beginning_of_line
dotnet_style_prefer_collection_expression = when_types_loosely_match
dotnet_style_prefer_foreach_explicit_cast_in_source = when_strongly_typed
dotnet_style_null_propagation = true:error
dotnet_style_object_initializer = true:error
dotnet_style_coalesce_expression = true:error
dotnet_style_explicit_tuple_names = true:error
dotnet_style_collection_initializer = true:error
dotnet_style_prefer_auto_properties = true:error
dotnet_style_prefer_compound_assignment = true:error
dotnet_style_prefer_inferred_tuple_names = true:error
dotnet_style_prefer_simplified_boolean_expressions = true:error
dotnet_style_prefer_conditional_expression_over_return = true:error
dotnet_style_prefer_inferred_anonymous_type_member_names = true:error
dotnet_style_prefer_conditional_expression_over_assignment = true:error
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:error

# Fields
dotnet_style_readonly_field = true:error

# Parameters
dotnet_code_quality_unused_parameters = all:error

# Suppression
dotnet_remove_unnecessary_suppression_exclusions = none

# Line Preferences
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_before_members_in_object_initializers = true
dotnet_style_allow_multiple_blank_lines_experimental = false:error
csharp_style_allow_embedded_statements_on_same_line_experimental = false:error
dotnet_style_allow_statement_immediately_after_block_experimental = false:error
csharp_style_allow_blank_lines_between_consecutive_braces_experimental = false:error
csharp_style_allow_blank_line_after_token_in_arrow_expression_clause_experimental = true:error
csharp_style_allow_blank_line_after_token_in_conditional_expression_experimental = false:error
csharp_style_allow_blank_line_after_colon_in_constructor_initializer_experimental = false:error

# Expression Bodies
csharp_style_expression_bodied_methods = when_on_single_line:error
csharp_style_expression_bodied_lambdas = when_on_single_line:error
csharp_style_expression_bodied_indexers = when_on_single_line:error
csharp_style_expression_bodied_operators = when_on_single_line:error
csharp_style_expression_bodied_accessors = when_on_single_line:error
csharp_style_expression_bodied_properties = when_on_single_line:error
csharp_style_expression_bodied_constructors = when_on_single_line:error
csharp_style_expression_bodied_local_functions = when_on_single_line:error

# Pattern Matching
csharp_style_prefer_extended_property_pattern = true
csharp_style_prefer_not_pattern = true:error
csharp_style_prefer_pattern_matching = true:error
csharp_style_prefer_switch_expression = true:error
csharp_style_pattern_matching_over_as_with_null_check = true:error
csharp_style_pattern_matching_over_is_with_cast_check = true:error

# Null-checking preferences
csharp_style_conditional_delegate_call = true:error

# Modifier preferences
csharp_style_prefer_readonly_struct_member = true
csharp_prefer_static_local_function = true:error
csharp_style_prefer_readonly_struct = true:error
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async

# Code-block preferences
csharp_style_prefer_primary_constructors = true:suggestion
csharp_prefer_braces = when_multiline:error
csharp_prefer_simple_using_statement = true:error
csharp_style_prefer_top_level_statements = true:error

csharp_style_prefer_method_group_conversion = true:error

# Expression-level preferences
csharp_style_prefer_utf8_string_literals = true
csharp_style_throw_expression = true:error
csharp_style_prefer_tuple_swap = true:error
csharp_style_prefer_range_operator = true:error
csharp_style_prefer_index_operator = true:error
csharp_prefer_simple_default_expression = true:error
csharp_style_inlined_variable_declaration = true:error
csharp_style_prefer_null_check_over_type_check = true:error
csharp_style_deconstructed_variable_declaration = true:error
csharp_style_prefer_local_over_anonymous_function = true:error
csharp_style_implicit_object_creation_when_type_is_apparent = true:error
csharp_style_unused_value_assignment_preference = discard_variable:error
csharp_style_unused_value_expression_statement_preference = discard_variable:error

# Indentation
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_block_contents = true
csharp_indent_labels = one_less_than_current
csharp_indent_case_contents_when_block = true

# Spaces
csharp_space_after_cast = false
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_before_comma = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false
csharp_space_before_open_square_brackets = false
csharp_space_around_declaration_statements = false
csharp_space_between_empty_square_brackets = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_binary_operators = before_and_after
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false

# Wrapping
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = false

# Naming
dotnet_naming_rule.class_should_be_pascal_case.severity = warning
dotnet_naming_rule.class_should_be_pascal_case.symbols = class
dotnet_naming_rule.class_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.interface_should_be_begins_with_i.severity = warning
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.struct_should_be_pascal_case.severity = warning
dotnet_naming_rule.struct_should_be_pascal_case.symbols = struct
dotnet_naming_rule.struct_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.enum_should_be_pascal_case.severity = warning
dotnet_naming_rule.enum_should_be_pascal_case.symbols = enum
dotnet_naming_rule.enum_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.delegate_should_be_pascal_case.severity = warning
dotnet_naming_rule.delegate_should_be_pascal_case.symbols = delegate
dotnet_naming_rule.delegate_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.event_should_be_pascal_case.severity = warning
dotnet_naming_rule.event_should_be_pascal_case.symbols = event
dotnet_naming_rule.event_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.method_should_be_pascal_case.severity = warning
dotnet_naming_rule.method_should_be_pascal_case.symbols = method
dotnet_naming_rule.method_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.private_method_should_be_pascal_case.severity = warning
dotnet_naming_rule.private_method_should_be_pascal_case.symbols = private_method
dotnet_naming_rule.private_method_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.abstract_method_should_be_pascal_case.severity = warning
dotnet_naming_rule.abstract_method_should_be_pascal_case.symbols = abstract_method
dotnet_naming_rule.abstract_method_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.static_method_should_be_pascal_case.severity = warning
dotnet_naming_rule.static_method_should_be_pascal_case.symbols = static_method
dotnet_naming_rule.static_method_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.property_should_be_pascal_case.severity = warning
dotnet_naming_rule.property_should_be_pascal_case.symbols = property
dotnet_naming_rule.property_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.constant_should_be_pascal_case.severity = warning
dotnet_naming_rule.constant_should_be_pascal_case.symbols = constant
dotnet_naming_rule.constant_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.public_or_protected_field_should_be_start_with_underscore.severity = warning
dotnet_naming_rule.public_or_protected_field_should_be_start_with_underscore.symbols = public_or_protected_field
dotnet_naming_rule.public_or_protected_field_should_be_start_with_underscore.style = start_with_underscore

dotnet_naming_rule.static_field_should_be_start_with_underscore.severity = warning
dotnet_naming_rule.static_field_should_be_start_with_underscore.symbols = static_field
dotnet_naming_rule.static_field_should_be_start_with_underscore.style = start_with_underscore

dotnet_naming_rule.private_or_internal_field_should_be_start_with_underscore.severity = warning
dotnet_naming_rule.private_or_internal_field_should_be_start_with_underscore.symbols = private_or_internal_field
dotnet_naming_rule.private_or_internal_field_should_be_start_with_underscore.style = start_with_underscore

dotnet_naming_rule.private_or_internal_static_field_should_be_start_with_underscore.severity = warning
dotnet_naming_rule.private_or_internal_static_field_should_be_start_with_underscore.symbols = private_or_internal_static_field
dotnet_naming_rule.private_or_internal_static_field_should_be_start_with_underscore.style = start_with_underscore

dotnet_naming_rule.types_should_be_pascal_case.severity = warning
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = warning
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.parameters_should_be_camel_case.severity = warning
dotnet_naming_rule.parameters_should_be_camel_case.symbols = parameters
dotnet_naming_rule.parameters_should_be_camel_case.style = camel_case

dotnet_naming_rule.local_members_should_be_camel_case.severity = warning
dotnet_naming_rule.local_members_should_be_camel_case.symbols = local_members
dotnet_naming_rule.local_members_should_be_camel_case.style = camel_case

# Symbol Specifications

dotnet_naming_symbols.class.applicable_kinds = class
dotnet_naming_symbols.class.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.class.required_modifiers = 

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.struct.applicable_kinds = struct
dotnet_naming_symbols.struct.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.struct.required_modifiers = 

dotnet_naming_symbols.enum.applicable_kinds = enum
dotnet_naming_symbols.enum.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.enum.required_modifiers = 

dotnet_naming_symbols.delegate.applicable_kinds = delegate
dotnet_naming_symbols.delegate.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.delegate.required_modifiers = 

dotnet_naming_symbols.event.applicable_kinds = event
dotnet_naming_symbols.event.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.event.required_modifiers = 

dotnet_naming_symbols.method.applicable_kinds = method
dotnet_naming_symbols.method.applicable_accessibilities = public
dotnet_naming_symbols.method.required_modifiers = 

dotnet_naming_symbols.private_method.applicable_kinds = method
dotnet_naming_symbols.private_method.applicable_accessibilities = private
dotnet_naming_symbols.private_method.required_modifiers = 

dotnet_naming_symbols.abstract_method.applicable_kinds = method
dotnet_naming_symbols.abstract_method.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.abstract_method.required_modifiers = abstract

dotnet_naming_symbols.static_method.applicable_kinds = method
dotnet_naming_symbols.static_method.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.static_method.required_modifiers = static

dotnet_naming_symbols.property.applicable_kinds = property
dotnet_naming_symbols.property.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.property.required_modifiers = 

dotnet_naming_symbols.public_or_protected_field.applicable_kinds = field
dotnet_naming_symbols.public_or_protected_field.applicable_accessibilities = public, protected
dotnet_naming_symbols.public_or_protected_field.required_modifiers = 

dotnet_naming_symbols.static_field.applicable_kinds = field
dotnet_naming_symbols.static_field.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.static_field.required_modifiers = static

dotnet_naming_symbols.private_or_internal_field.applicable_kinds = field
dotnet_naming_symbols.private_or_internal_field.applicable_accessibilities = internal, private, private_protected
dotnet_naming_symbols.private_or_internal_field.required_modifiers = 

dotnet_naming_symbols.private_or_internal_static_field.applicable_kinds = field
dotnet_naming_symbols.private_or_internal_static_field.applicable_accessibilities = internal, private, private_protected
dotnet_naming_symbols.private_or_internal_static_field.required_modifiers = static

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

dotnet_naming_symbols.parameters.applicable_kinds = parameter
dotnet_naming_symbols.parameters.applicable_accessibilities = public, internal
dotnet_naming_symbols.parameters.required_modifiers = 

dotnet_naming_symbols.local_members.applicable_kinds = local
dotnet_naming_symbols.local_members.applicable_accessibilities = local
dotnet_naming_symbols.local_members.required_modifiers = 

dotnet_naming_symbols.constant.applicable_kinds = field
dotnet_naming_symbols.constant.applicable_accessibilities = *
dotnet_naming_symbols.constant.required_modifiers = const

# Naming Styles

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.start_with_underscore.required_prefix = _
dotnet_naming_style.start_with_underscore.required_suffix = 
dotnet_naming_style.start_with_underscore.word_separator = 
dotnet_naming_style.start_with_underscore.capitalization = camel_case

dotnet_naming_style.camel_case.required_prefix = 
dotnet_naming_style.camel_case.required_suffix = 
dotnet_naming_style.camel_case.word_separator = 
dotnet_naming_style.camel_case.capitalization = camel_case

## Analysis (Design)

dotnet_diagnostic.ca1000.severity = error # Do not declare static members on generic types
dotnet_diagnostic.ca1001.severity = error # Types that own disposable fields should be disposable
dotnet_diagnostic.ca1002.severity = error # Do not expose generic lists
dotnet_diagnostic.ca1003.severity = error # Use generic event handler instances
dotnet_diagnostic.ca1005.severity = error # Avoid excessive parameters on generic types
dotnet_diagnostic.ca1006.severity = error # Do not nest generic types in member signatures
dotnet_diagnostic.ca1008.severity = error # Enums should have zero value
dotnet_diagnostic.ca1010.severity = error # Collections should implement generic interface
dotnet_diagnostic.ca1012.severity = error # Abstract types should not have constructors
dotnet_diagnostic.ca1014.severity = error # Mark assemblies with CLSCompliant
dotnet_diagnostic.ca1016.severity = error # Mark assemblies with AssemblyVersion
dotnet_diagnostic.ca1017.severity = error # Mark assemblies with ComVisible
dotnet_diagnostic.ca1018.severity = error # Mark attributes with AttributeUsage
dotnet_diagnostic.ca1019.severity = error # Define accessors for attribute arguments
dotnet_diagnostic.ca1021.severity = error # Avoid out parameters
dotnet_diagnostic.ca1024.severity = error # Use properties where appropriate
dotnet_diagnostic.ca1027.severity = error # Mark enums with FlagsAttribute
dotnet_diagnostic.ca1028.severity = error # Enum storage should be Int32
dotnet_diagnostic.ca1030.severity = error # Use events where appropriate
dotnet_diagnostic.ca1031.severity = error # Do not catch general exception types
dotnet_diagnostic.ca1032.severity = error # Implement standard exception constructors
dotnet_diagnostic.ca1033.severity = error # Interface methods should be callable by child types
dotnet_diagnostic.ca1034.severity = error # Nested types should not be visible
dotnet_diagnostic.ca1036.severity = error # Override methods on comparable types
dotnet_diagnostic.ca1040.severity = error # Avoid empty interfaces
dotnet_diagnostic.ca1041.severity = error # Provide ObsoleteAttribute message
dotnet_diagnostic.ca1043.severity = error # Use integral or string argument for indexers
dotnet_diagnostic.ca1044.severity = error # Properties should not be write only
dotnet_diagnostic.ca1045.severity = error # Do not pass types by reference
dotnet_diagnostic.ca1046.severity = error # Do not overload operator equals on reference types
dotnet_diagnostic.ca1047.severity = error # Do not declare protected members in sealed types
dotnet_diagnostic.ca1050.severity = error # Declare types in namespaces
dotnet_diagnostic.ca1051.severity = error # Do not declare visible instance fields
dotnet_diagnostic.ca1052.severity = error # Static holder types should be sealed
dotnet_diagnostic.ca1053.severity = error # Static holder types should not have visible instance fields
dotnet_diagnostic.ca1054.severity = error # URI parameters should not be strings
dotnet_diagnostic.ca1055.severity = error # URI return values should not be strings
dotnet_diagnostic.ca1056.severity = error # URI properties should not be strings
dotnet_diagnostic.ca1058.severity = error # Types should not extend certain base types
dotnet_diagnostic.ca1060.severity = error # Move pinvokes to native methods class
dotnet_diagnostic.ca1061.severity = error # Do not hide base class methods
dotnet_diagnostic.ca1062.severity = error # Validate arguments of public methods
dotnet_diagnostic.ca1063.severity = error # Implement IDisposable correctly
dotnet_diagnostic.ca1064.severity = error # Exceptions should be public
dotnet_diagnostic.ca1065.severity = error # Do not raise exceptions in unexpected locations
dotnet_diagnostic.ca1066.severity = error # Implement IEquatable when overriding Object.Equals
dotnet_diagnostic.ca1067.severity = error # Override Object.Equals when implementing IEquatable
dotnet_diagnostic.ca1068.severity = error # CancellationToken parameters should come last
dotnet_diagnostic.ca1069.severity = error # Enums values should not be duplicated
dotnet_diagnostic.ca1070.severity = error # Do not declare events fields as virtual

## Analysis (Maintainability)

dotnet_diagnostic.ca1501.severity = error # Avoid excessive inheritance
dotnet_diagnostic.ca1502.severity = error # Avoid excessive complexity
dotnet_diagnostic.ca1505.severity = error # Avoid unmaintainable code
dotnet_diagnostic.ca1506.severity = error # Avoid excessive class coupling
dotnet_diagnostic.ca1507.severity = error # Use nameof in place of string
dotnet_diagnostic.ca1508.severity = error # Avoid dead conditional code
dotnet_diagnostic.ca1509.severity = error # Invalid entry in code metrics configuration file
dotnet_diagnostic.ca1510.severity = error # Use ArgumentNullException throw helper
dotnet_diagnostic.ca1511.severity = error # Use ArgumentException throw helper
dotnet_diagnostic.ca1512.severity = error # Use ArgumentOutOfRangeException throw helper
dotnet_diagnostic.ca1513.severity = error # Use ObjectDisposedException throw helper
dotnet_diagnostic.ca1514.severity = error # Avoid redundant length argument
dotnet_diagnostic.ca1515.severity = error # Consider making public types internal

## Analysis (Naming)

dotnet_diagnostic.ca1716.severity = error # Identifiers should not match keywords

## Compiler (Level 4)

dotnet_diagnostic.ca1591.severity = error # Missing XML comment for publicly visible type or member

## Analysis (Performance)

dotnet_diagnostic.ca1848.severity = suggestion # Use the LoggerMessage delegates

## Uncategorized

dotnet_diagnostic.ca1200.severity = error
dotnet_diagnostic.ca1820.severity = error
dotnet_diagnostic.ca1802.severity = error
dotnet_diagnostic.ca1805.severity = error
dotnet_diagnostic.ca1812.severity = error
dotnet_diagnostic.ca1824.severity = error
dotnet_diagnostic.ca1825.severity = error
dotnet_diagnostic.ca1841.severity = error
dotnet_diagnostic.ca1845.severity = error
dotnet_diagnostic.ca1851.severity = error
dotnet_diagnostic.ca1855.severity = error
dotnet_diagnostic.ca2014.severity = error
dotnet_diagnostic.ca2016.severity = error
dotnet_diagnostic.ca2020.severity = error
dotnet_diagnostic.ca1304.severity = error
dotnet_diagnostic.ca1700.severity = error
dotnet_diagnostic.ca1708.severity = error
dotnet_diagnostic.ca1710.severity = error
dotnet_diagnostic.ca1711.severity = error
dotnet_diagnostic.ca1712.severity = error
dotnet_diagnostic.ca1713.severity = error
dotnet_diagnostic.ca1715.severity = error
dotnet_diagnostic.ca1720.severity = error
dotnet_diagnostic.ca1721.severity = error
dotnet_diagnostic.ca1724.severity = error
dotnet_diagnostic.ca1725.severity = error
dotnet_diagnostic.ca1727.severity = error
dotnet_diagnostic.ca1806.severity = error
dotnet_diagnostic.ca1810.severity = error
dotnet_diagnostic.ca1813.severity = error
dotnet_diagnostic.ca1814.severity = error
dotnet_diagnostic.ca1815.severity = error
dotnet_diagnostic.ca1819.severity = error
dotnet_diagnostic.ca1821.severity = error
dotnet_diagnostic.ca1822.severity = error
dotnet_diagnostic.ca1823.severity = error
dotnet_diagnostic.ca1826.severity = error
dotnet_diagnostic.ca1827.severity = error
dotnet_diagnostic.ca1828.severity = error
dotnet_diagnostic.ca1829.severity = error
dotnet_diagnostic.ca1830.severity = error
dotnet_diagnostic.ca1831.severity = error
dotnet_diagnostic.ca1832.severity = error
dotnet_diagnostic.ca1833.severity = error
dotnet_diagnostic.ca1834.severity = error
dotnet_diagnostic.ca1835.severity = error
dotnet_diagnostic.ca1836.severity = error
dotnet_diagnostic.ca1837.severity = error
dotnet_diagnostic.ca1838.severity = error
dotnet_diagnostic.ca1839.severity = error
dotnet_diagnostic.ca1840.severity = error
dotnet_diagnostic.ca1842.severity = error
dotnet_diagnostic.ca1843.severity = error
dotnet_diagnostic.ca1844.severity = error
dotnet_diagnostic.ca1846.severity = error
dotnet_diagnostic.ca1847.severity = error
dotnet_diagnostic.ca1849.severity = error
dotnet_diagnostic.ca1850.severity = error
dotnet_diagnostic.ca1852.severity = error
dotnet_diagnostic.ca1853.severity = error
dotnet_diagnostic.ca1854.severity = error
dotnet_diagnostic.ca2000.severity = error
dotnet_diagnostic.ca2002.severity = error
dotnet_diagnostic.ca2007.severity = error
dotnet_diagnostic.ca2008.severity = error
dotnet_diagnostic.ca2009.severity = error
dotnet_diagnostic.ca2011.severity = error
dotnet_diagnostic.ca2012.severity = error
dotnet_diagnostic.ca2013.severity = error
dotnet_diagnostic.ca2015.severity = error
dotnet_diagnostic.ca2017.severity = error
dotnet_diagnostic.ca2018.severity = error
dotnet_diagnostic.ca2019.severity = error
dotnet_diagnostic.mvc1004.severity = error

dotnet_diagnostic.ide0290.severity = error # Use primary constructor
